@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal: "Spicy Rice", serif;
    --fonte-secundario: "Varela Round", sans-serif;
    --rosa-claro: #f8c8dc;
    --rosa-escuro: #e1a6b9; 
    --roxo-pastel: #d3b2e0; 
    --lavanda-pastel: #e8d3f1; 
    --preto-suave: #333333; 
    --cinza-escuro: #484646; 
    --branco: #ffffff;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--rosa-claro); 
    color: var(--preto-suave); 
}

.img-thumbnail{
    border: 8px solid var(--preto-suave);

}

h1,h3{
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
}

.card{
    background-color: var(--roxo-pastel);
    color: var(--preto-suave);
    border: 2px solid #000000; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-family: var(--fonte-secundario);
    color: var(--preto-suave); 
}
